.box-reserve {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.title-room2 {
    text-align: center;
    border-bottom: 1.5px solid var(--negro);
    width: 79%;
    margin-left: 19%;
}

.text-cardreserve span {
    color: var(--verdeazul);
}

.item-cancelar {
    width: 100%;
}

.card-room{
    width: 18rem;
    margin-bottom: 8%;
}

.text-totalvalue{
    padding: 6% 0 6% 0;
    font-size: 17px;
    font-weight: bold;
}


@media screen and (min-width:768px) {

    .box-reserve {
        margin-left: 14%;
    }

    .title-room {
        width: 310px;
        margin-left: 37%;
    }

    .title-room h4 {
        font-size: 26px;
    }

    .card-room{
        width: 22rem;
        margin-bottom: 6%;
    }
    
}

@media screen and (min-width:1024px) {

    .box-reserve {
        flex-direction: row;
        margin-left: 16%;
    }

    .title-room {
        width: 320px;
        margin-left: 40%;
    }

    /*Cards*/

    .card-room{
        width: 18rem;
        margin-right: 2%;
    }
}

@media screen and (min-width:1200px) {
    
}